footer {
  h5 {
    font-size: 15px;
    font-weight: $font__bold;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a, a:visited {
        color: #fff;
      }
    }
  }
  .contact {
    background: #C1C1C1;
    border-bottom: 1px solid ;
    border-color: rgba(68, 64, 60, .4);
    text-align: center;
    padding: 40px 0;
    color: rgba(68, 64, 60, .5);
    span {
      font-weight: $font__bold;
    }
    a {
      color: rgba(68, 64, 60, .5);
    }
    a:hover {
      color: rgba(68, 64, 60, 1);
      text-decoration: none;
    }
  }
  .sitemap {
    padding: 50px 0;
    background: #C1C1C1;
    color: #fff;
  }
  .newsletter {
    padding: 25px 0;
    color: #182138;
    .form-group {
      .consent {
        padding-top: 25px;
        label {
          float: left;
          width: 70px;
        }
        input[type='checkbox'] {
          float: left;
          width: 25px;
        }
      }
      label, input {
        width: 100%;
      }
      input {
        background: #BFC1C3;
        padding: 15px 5px;
        color: #fff;
      }
      input[type='submit'] {
        display: block;
        margin-top: 25px;
        padding: 15px 10px;
        background: #1D2C3C;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
  .signature {
    color: #1D2C3C;
    margin-bottom: 15px;
    a, a:visited {
      font-weight: $font__bold;
      color: #1D2C3C;
    }
    a:hover {
      color: #F27724;
      text-decoration: none;
    }
  }
}
