.navbar-default .navbar-nav > li.menu-item-has-children a {
  /*padding-right: 50px;*/
}

.navbar-default .navbar-nav > li.menu-item-has-children a:after {
  content: " ";
  color: #fff;
  padding: 0 0 0 13px;
  background-image: url(../images/nav_arrow_down.png);
  background-repeat: no-repeat;
}

ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
  @include md {
    display: block !important;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #fff;

}

.navbar-default .navbar-toggle {
  // margin-top: -40px;
}

.home {
  .navbar-right {
    background: transparent;
  }
  header {
    margin-top: 25px;
    @include md {
      margin-top: 50px;
    }
    position: absolute;
    z-index: 99999;
    width: 100%;
    border-bottom: none;
    .navbar-nav > li {
      background: transparent;
    }
    .site-branding {
      position: relative;
      z-index: 3;
      padding-left: 7.5px;
    }
    // .menu-item-has-children:hover {
    //     ::after {
    //       @include lg {
    //         content: " ";
    //         position: fixed;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         z-index: -9999;
    //         background: rgba(0,0,0,0.5);
    //         opacity: .5;
    //       }
    //     }
    // }
  }
}

.dropdown-menu {
  background: #f06b21;
}

header {
  margin-top: 25px;
  @include md {
    margin-top: 50px;
  }
  position: relative;
  z-index: 999999999;
  width: 100%;
  .site-branding {
    position: relative;
    z-index: 3;
    padding-left: 7.5px;
  }
  // .menu-item-has-children:hover {
  //   ::after {
  //     @include lg {
  //       content: " ";
  //       position: fixed;
  //       top: 0;
  //       left: 0;
  //       width: 100%;
  //       height: 100%;
  //       z-index: -1;
  //       background: rgba(0,0,0,0.5);
  //       }
  //   }
  // }
  p.breadcrumbs {
    margin: 10px 0;
    @include md {
      margin: 25px 0;
    }
    text-align: right;
    color: rgba(41,27,60,.50);
    a {
      color: rgba(41,27,60,.50);
    }
    a:hover {
      color: #f27724;
      text-decoration: none;
    }
  }
  .right-nav {
    padding-right: 0;
  }
  ul.social {
    width: 100%;
    img {
      height: 25px;
    }
  }
  li.quote {
    float: right;
    width: 60%;
    text-align: center;
    background: #f06b21;
    text-transform: uppercase;
    z-index: 9999999999999999;
    img {
      height: 20px;
      margin-left: 10px;
    }
    a {
      color: #fff;
      background-color: #f06b21;
    }
    a:hover {
      color: #f06b21;
    }
  }
}

.home {
  .navbar-nav {
    >li > a {
      color: #fff !important;
    }
  }
}


a {
  transition: .5s;
}

a:hover {
  text-decoration: none;
}
